<!--The content below is only a placeholder and can be replaced.-->





 

		


<div class="container">
	
	 
	<table class="table table-responsive table-striped">
		<thead>
			<th>NO</th>
			<th>NAME</th>
			<th>DESCRIPTION</th>
			<th>QTY</th>
			<th><i class="fa fa-inr"></i></th>
	
		</thead>
		<tr *ngFor="let emp of employee.product" style="color:#424242;">

			<td>{{emp.product_no}}</td>
			<td>{{emp.product_name}}</td>
			<td>{{emp.product_des}}</td>
			<td>{{emp.product_qty}}</td>
			<td><i class="fa fa-inr"></i>{{emp.product_val}}</td>
	
		</tr>
			
	</table>

	<h1>Enter Product Details</h1>
	 <form #f="ngForm" (ngSubmit)="saveProduct(p_no,product_name,product_des,qty,val)" novalidate>
	<table class="table">
		<tr>
			<td><input type="text" name="p_no"  [(ngModel)]="p_no" class="form-control" placeholder="P_No"></td>
		</tr>
		<tr>
			<td><input type="text" name="product_name" [(ngModel)]="product_name" class="form-control" placeholder="product_name"></td>
		</tr>
		<tr>
			<td><input type="text" name="product_des"  [(ngModel)]="product_des" class="form-control" placeholder="product_des"></td>
		</tr>
		<tr>
			<td><input type="text" name="qty" class="form-control" [(ngModel)]="qty" placeholder="Qty"></td>
		</tr>
		<tr>
			<td><input type="text" name="val" class="form-control" [(ngModel)]="val" placeholder="val"></td>
		</tr>

		<tr>
			<td><input type="submit"></td>
		</tr>
	</table>
</form>

</div>

